.custom-btn-style {
  cursor: pointer;
  /* padding: 5.5px 12px; */
  border: 0.5px solid rgb(0, 82, 204);
  background-color: rgb(232, 240, 254);
}

.custom-btn-style:hover {
  background-color: rgb(232, 240, 254);
}
