.searchwid {
  width: 600px !important; /* Default width */
}

@media (max-width: 850px) {
  .searchwid {
    width: calc(100% - 20px) !important; /* Adjust as needed */
  }
}

@media (max-width: 600px) {
  .searchwid {
    width: calc(100% - 10px) !important; /* Adjust as needed */
  }
}

@media (max-width: 400px) {
  .searchwid {
    width: calc(100% - 5px) !important; /* Adjust as needed */
  }
}
